[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fdid"]
	path = fdid
	url = https://github.com/xuyiqing/fdid
[submodule "fect"]
	path = fect
	url = https://github.com/xuyiqing/fect
[submodule "gsynth"]
	path = gsynth
	url = https://github.com/xuyiqing/gsynth
[submodule "hbal"]
	path = hbal
	url = https://github.com/xuyiqing/hbal
[submodule "interflex"]
	path = interflex
	url = https://github.com/xuyiqing/interflex
[submodule "panelView"]
	path = panelView
	url = https://github.com/xuyiqing/panelview
