[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fect"]
	path = fect
	url = https://github.com/xuyiqing/fect
[submodule "hbal"]
	path = hbal
	url = https://github.com/xuyiqing/hbal
